tf2-ros-py==0.25.15
ament-flake8==0.12.14
ament-pep257==0.12.14
ros2bag==0.15.15
rosidl-runtime-py==0.9.3
ament-cppcheck==0.12.14
rpyutils==0.2.1
rqt-srv==1.0.3
teleop-twist-keyboard==2.4.0
ros2lifecycle==0.18.13
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-action==2.0.1
sensor-msgs-py==4.9.0
ament-uncrustify==0.12.14
launch==1.0.10
launch-testing==1.0.10
launch-xml==1.0.10
launch-ros==0.19.10
rqt-bag==1.1.5
examples-rclpy-minimal-action-server==0.15.4
rqt-reconfigure==1.1.2
ros2service==0.18.13
rqt-py-console==1.0.2
rqt-topic==1.5.0
rqt-gui-py==1.1.7
ros2param==0.18.13
quality-of-service-demo-py==0.20.5
ros2topic==0.18.13
topic-monitor==0.20.5
osrf-pycommon==2.1.6
examples-rclpy-minimal-service==0.15.4
demo-nodes-py==0.20.5
rosidl-cli==3.1.7
ament-lint==0.12.14
ros2launch==0.19.10
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
ros2component==0.18.13
examples-rclpy-minimal-client==0.15.4
ament-index-python==1.4.0
ros2interface==0.18.13
ament-xmllint==0.12.14
ament-cpplint==0.12.14
examples-rclpy-executors==0.15.4
launch-testing-ros==0.19.10
ros2doctor==0.18.13
domain-coordinator==0.10.0
rqt-plot==1.1.5
ament-copyright==0.12.14
rqt-service-caller==1.0.5
ros2cli==0.18.13
tf2-tools==0.25.15
rqt-publisher==1.5.0
rqt-msg==1.2.0
ros2action==0.18.13
ros2node==0.18.13
ament-package==0.14.1
ros2pkg==0.18.13
examples-rclpy-minimal-action-client==0.15.4
action-tutorials-py==0.20.5
rqt-shell==1.0.2
launch-yaml==1.0.10
ros2run==0.18.13
examples-rclpy-minimal-subscriber==0.15.4
ament-lint-cmake==0.12.14
examples-rclpy-minimal-publisher==0.15.4
ros2multicast==0.18.13
sros2==0.10.7
rosidl-parser==3.1.7
rosidl-cmake==3.1.7
image-geometry==3.2.1
qt-gui-cpp==2.2.4
pendulum-msgs==0.20.5
rosidl-typesupport-fastrtps-cpp==2.2.2
actionlib-msgs==4.9.0
rosidl-typesupport-cpp==2.0.2
composition-interfaces==1.2.2
resource-retriever==3.1.3
logging-demo==0.20.5
angles==1.15.0
turtlesim==1.4.2
lifecycle-msgs==1.2.2
example-interfaces==0.9.3
rosidl-typesupport-introspection-c==3.1.7
shape-msgs==4.9.0
rosidl-adapter==3.1.7
trajectory-msgs==4.9.0
diagnostic-msgs==4.9.0
qt-gui==2.2.4
action-tutorials-interfaces==0.20.5
rosbag2-interfaces==0.15.15
tf2-kdl==0.25.15
pcl-msgs==1.0.0
tf2-geometry-msgs==0.25.15
rosidl-generator-py==0.14.5
cv-bridge==3.2.1
builtin-interfaces==1.2.2
tf2-sensor-msgs==0.25.15
action-msgs==1.2.2
tf2-msgs==0.25.15
map-msgs==2.1.0
rosidl-typesupport-fastrtps-c==2.2.2
qt-dotgraph==2.2.4
nav-msgs==4.9.0
sensor-msgs==4.9.0
unique-identifier-msgs==2.2.1
laser-geometry==2.4.0
std-srvs==4.9.0
std-msgs==4.9.0
qt-gui-py-common==2.2.4
stereo-msgs==4.9.0
rosidl-typesupport-c==2.0.2
ament-cmake-test==1.3.12
rcl-interfaces==1.2.2
rqt-py-common==1.1.7
rosbag2-py==0.15.15
visualization-msgs==4.9.0
tf2-py==0.25.15
rclpy==3.3.17
rosidl-generator-cpp==3.1.7
rmw-dds-common==1.6.0
statistics-msgs==1.2.2
rosidl-typesupport-introspection-cpp==3.1.7
rosidl-generator-c==3.1.7
rosgraph-msgs==1.2.2
rcutils==5.1.6
message-filters==4.3.8
python-qt-binding==1.1.2
geometry-msgs==4.9.0
interactive-markers==2.3.2
prompt_toolkit==3.0.50
interface-meta==1.3.0
requests==2.32.5
sqlparse==0.5.3
json5==0.9.6
idna==3.10
rouge_score==0.1.2
webcolors==24.11.1
markdown-it-py==3.0.0
fastapi==0.115.11
itsdangerous==2.2.0
parso==0.8.3
jupyter-events==0.12.0
conda-package-handling==2.4.0
pydantic_core==2.27.2
kiwisolver==1.4.8
accelerate==1.10.1
wheel==0.45.1
typer==0.15.2
aiofiles==24.1.0
fastjsonschema==2.21.1
debugpy==1.8.13
nvidia-cusparse-cu12==12.3.1.170
async-lru==2.0.4
flatbuffers==25.2.10
simple-websocket==1.1.0
safetensors==0.5.3
nvidia-curand-cu12==10.3.5.147
pyro-ppl==1.9.1
langgraph-sdk==0.2.4
hmmlearn==0.3.3
evaluate==0.4.3
ansible==11.5.0
Jinja2==3.1.6
nbformat==5.10.4
chardet==5.2.0
python-multipart==0.0.20
torchvision==0.20.0
ipython_pygments_lexers==1.1.1
hyperopt==0.2.7
tensorboard-data-server==0.7.2
tokenizers==0.21.1
cloudpathlib==0.21.0
toml==0.10.2
pip==25.2
primp==0.15.0
mypy==1.8.0
ISLP==0.4.0
pygame==2.6.1
httptools==0.6.4
six==1.16.0
boltons==24.0.0
gymnasium==1.2.0
python-dotenv==1.0.1
stable_baselines3==2.7.0
nodeenv==1.9.1
xxhash==3.5.0
huggingface-sb3==3.0
chex==0.1.89
python-socketio==5.12.1
pyflakes==3.3.2
hazelcast-python-client==5.3.0
opt_einsum==3.4.0
Werkzeug==3.1.3
httpcore==1.0.7
Brotli==1.1.0
autograd-gamma==0.5.0
pycosat==0.6.6
hpack==4.1.0
truststore==0.10.1
editdistance==0.8.1
fonttools==4.56.0
namex==0.0.8
nest_asyncio==1.6.0
dill==0.3.8
ptan==0.8.1
safehttpx==0.1.6
ruff==0.11.5
py4j==0.10.9.9
shellingham==1.5.4
hf-xet==1.1.5
opentelemetry-sdk==1.32.1
tensordict==0.7.2
regex==2024.11.6
anyio==4.8.0
fsspec==2024.6.1
cached-property==1.5.2
tornado==6.5.1
tornado==4.5.3
GitPython==3.1.44
iniconfig==2.1.0
autograd==1.8.0
databricks-sdk==0.50.0
setproctitle==1.3.5
tenacity==9.0.0
jupyter_client==8.6.3
wasabi==1.1.3
orbax-checkpoint==0.11.10
rl_zoo3==2.7.0
PyOpenGL==3.1.9
Farama-Notifications==0.0.4
sympy==1.13.1
xmlrunner==1.7.7
httpx-sse==0.4.1
PyWavelets==1.8.0
google-auth==2.39.0
smolagents==1.18.0
rfc3339_validator==0.1.4
pytorch-lightning==2.5.4
pooch==1.8.2
uvloop==0.21.0
Mako==1.3.10
fqdn==1.5.1
ollama==0.5.1
qtconsole==5.6.1
pscript==0.7.7
lxml==6.0.1
backcall==0.2.0
tabledata==1.3.4
nvidia-cudnn-cu12==9.1.0.70
libclang==18.1.1
urllib3==2.3.0
proglog==0.1.10
platformdirs==4.3.6
pyro-api==0.1.2
altair==5.5.0
setuptools==80.9.0
jsonschema==4.23.0
jupyter_server==2.16.0
sentry-sdk==2.24.1
entmax==1.3
gitdb==4.0.12
pyasn1==0.6.1
pyzmq==26.2.0
dataclasses-json==0.6.7
Deprecated==1.2.18
ml_dtypes==0.5.1
faiss-cpu==1.10.0
tomli==2.2.1
tiktoken==0.9.0
rfc3986-validator==0.1.1
ansible-core==2.18.6
stack-data==0.2.0
pyasn1_modules==0.4.2
rsa==4.9.1
aiohappyeyeballs==2.6.1
humanize==4.12.2
overrides==7.7.0
contourpy==1.3.1
soxr==0.5.0.post1
jax==0.5.3
wsproto==1.2.0
ale-py==0.11.1
parse_type==0.6.4
nbclient==0.10.2
termcolor==3.0.1
python-utils==3.9.1
formulaic==1.2.0
python-telegram-bot==22.0
cymem==2.0.11
threadpoolctl==3.6.0
Send2Trash==1.8.3
tqdm==4.67.1
wandb==0.19.8
jupyter-lsp==2.2.5
blinker==1.9.0
docker-pycreds==0.4.0
more-itertools==10.6.0
nvidia-cusparselt-cu12==0.6.2
box2d-py==2.3.8
anaconda-anon-usage==0.6.1
grpcio==1.71.0
cmake==4.0.0
pexpect==4.8.0
bidict==0.23.1
optuna==4.4.0
terminado==0.18.1
distro==1.9.0
typing_extensions==4.12.2
jupyterlab-pygments==0.1.2
coverage==7.8.0
datasets==3.4.1
hyperframe==6.1.0
pre_commit==4.2.0
wcwidth==0.2.5
toolz==1.0.0
annotated-types==0.7.0
yarl==1.18.3
nltk==3.9.1
ruamel.yaml.clib==0.2.8
ormsgpack==1.10.0
watchfiles==1.0.4
magent2==0.3.3
httpx==0.28.1
pickleshare==0.7.5
pycodestyle==2.13.0
multiprocess==0.70.16
future==1.0.0
jupyter-console==6.6.3
langgraph==0.6.6
propcache==0.3.0
conda==25.1.1
matplotlib==3.10.1
defusedxml==0.7.1
flake8-html==0.4.3
python-dateutil==2.9.0.post0
pyarrow==19.0.1
notebook_shim==0.2.4
jupyterlab_server==2.27.3
networkx==3.5
thinc==8.3.4
typing-inspection==0.4.1
webencodings==0.5.1
python-engineio==4.11.2
optree==0.15.0
mbstrdecoder==1.1.4
virtualenv==20.31.2
pysqlite3-binary==0.5.4
astunparse==1.6.3
python-json-logger==2.0.7
websocket-client==1.8.0
sniffio==1.3.1
openai==1.90.0
SQLAlchemy==2.0.40
identify==2.6.12
importlib_metadata==8.6.1
pygam==0.10.1
langchain-community==0.3.29
alembic==1.15.2
AutoROM==0.4.2
rpds-py==0.23.1
watchdog==6.0.0
glfw==2.8.0
certifi==2025.8.3
pytest==8.3.5
jedi==0.19.2
gym-pybullet-drones==2.0.0
cupy-cuda12x==13.5.1
kenlm==0.2.0
conda-content-trust==0.2.0
cloudpickle==3.1.1
greenlet==3.2.1
flax==0.10.4
srsly==2.5.1
scipy==1.15.2
random_walk_env==0.0.4
nicegui==2.12.1
airsim==1.8.1
duckduckgo_search==8.1.1
cffi==1.17.1
cycler==0.12.1
aiohttp==3.11.14
numba==0.61.0
tensorstore==0.1.72
mlflow==2.21.3
groq==0.31.0
frozendict==2.4.6
PySocks==1.7.1
opentelemetry-api==1.32.1
matplotlib-inline==0.1.7
gast==0.6.0
nvidia-nccl-cu12==2.21.5
exceptiongroup==1.2.2
pure-eval==0.2.2
spacy==3.8.4
langchain-core==0.3.75
attrs==25.3.0
h5py==3.13.0
argon2-cffi-bindings==21.2.0
langchain-text-splitters==0.3.10
plotly==6.0.1
websockets==15.0.1
transformers==4.49.0
msgpack-rpc-python==0.4.1
etils==1.12.2
litellm==1.73.0
jsonpointer==2.1
soundfile==0.13.1
murmurhash==1.0.12
charset-normalizer==2.0.4
conda_package_streaming==0.11.0
protobuf==5.29.4
packaging==24.2
lifelines==0.30.0
pillow==11.0.0
pillow==11.1.0
imageio-ffmpeg==0.6.0
haystack-ai==2.11.2
tensorflow-io-gcs-filesystem==0.37.1
typing-inspect==0.9.0
fastrlock==0.8.3
filelock==3.13.1
rich==13.9.4
tifffile==2025.2.18
jsonpatch==1.33
tomlkit==0.13.2
markdown2==2.5.3
conda-libmamba-solver==24.1.0
mpmath==1.3.0
nvidia-cusolver-cu12==11.6.1.9
argon2-cffi==21.3.0
ipykernel==6.29.5
langcodes==3.5.0
jax-cuda12-plugin==0.5.3
sentence-transformers==3.4.1
ruamel.yaml==0.18.10
pandas==2.2.3
nvidia-cuda-cupti-cu12==12.4.127
tabulate==0.9.0
pluggy==1.5.0
MarkupSafe==3.0.2
mlflow-skinny==2.21.3
pycparser==2.21
streamlit==1.44.0
lazy_imports==0.4.0
librosa==0.11.0
posthog==3.21.0
pyparsing==3.2.1
multidict==6.2.0
optax==0.2.4
PyQt5_sip==12.13.0
executing==0.8.3
tzdata==2025.1
blis==1.2.0
langgraph-prebuilt==0.6.4
psutil==7.0.0
mdurl==0.1.2
cryptography==44.0.2
beautifulsoup4==4.13.3
monotonic==1.6
scikit-learn==1.6.1
soupsieve==2.5
treescope==0.1.9
langgraph-checkpoint==2.1.1
opencv-python==4.10.0.84
DataProperty==1.1.0
spacy-legacy==3.0.12
colorlog==6.9.0
jupyter==1.1.1
sip==6.7.12
smart-open==7.1.0
starlette==0.46.1
semantic-version==2.10.0
tensorboard==2.19.0
torchmetrics==1.8.2
QtPy==2.4.3
msgpack-python==0.5.6
vbuild==0.8.2
jiter==0.9.0
zipp==3.21.0
statsmodels==0.14.5
torchrl==0.6.0
wrapt==1.17.2
ddgs==9.5.4
jaxlib==0.5.3
progressbar2==4.5.0
pandocfilters==1.5.0
dm-haiku==0.0.13
confection==0.1.5
cfgv==3.4.0
decorator==4.4.2
ffmpy==0.5.0
mistune==3.1.2
h2==4.2.0
modern-robotics==1.1.1
pytorch-ignite==0.5.1
nvidia-cuda-runtime-cu12==12.4.127
distlib==0.3.9
scikit-image==0.25.2
nvidia-cublas-cu12==12.4.5.8
types-python-dateutil==2.9.0.20241206
google-pasta==0.2.0
PyPDF2==3.0.1
tcolorpy==0.1.7
patsy==1.0.1
h11==0.14.0
nvidia-cuda-nvcc-cu12==12.5.82
ptyprocess==0.7.0
huggingface-hub==0.33.0
prometheus_client==0.21.1
menuinst==2.2.0
pytz==2025.1
ifaddr==0.2.0
telegram==0.0.1
flake8==7.2.0
jupyter_server_terminals==0.5.3
PyQt5==5.15.10
AutoROM.accept-rom-license==0.6.1
pkgutil_resolve_name==1.3.10
imageio==2.37.0
torch==2.5.0
orjson==3.10.15
bitsandbytes==0.47.0
graphene==3.4.3
groovy==0.1.2
torchaudio==2.5.1+cu124
PyYAML==6.0.2
typepy==1.3.4
googledrivedownloader==1.1.0
ply==3.11
sounddevice==0.5.1
language_data==1.3.0
pyproject_hooks==1.2.0
langsmith==0.4.21
haystack-experimental==0.8.0
docker==7.1.0
jax-cuda12-pjrt==0.5.3
pydub==0.25.1
aiosignal==1.3.2
opentelemetry-semantic-conventions==0.53b1
arrow==1.3.0
comm==0.2.2
pydantic-settings==2.10.1
nvidia-nvtx-cu12==12.4.127
uri-template==1.3.0
catalogue==2.0.10
gunicorn==23.0.0
entrypoints==0.4
nvidia-nvjitlink-cu12==12.4.127
asttokens==2.0.5
mypy-extensions==1.0.0
jupyterlab==4.4.5
libmambapy==1.5.8
bleach==4.1.0
requests-toolbelt==1.0.0
weasel==0.4.1
lightning-utilities==0.15.2
keras==3.9.2
mccabe==0.7.0
audioread==3.0.1
jsonschema-specifications==2024.10.1
tensorflow==2.19.0
pydeck==0.9.1
notebook==7.4.4
ipywidgets==8.1.5
ray==2.44.0
triton==3.1.0
sms-tools==1.0
pettingzoo==1.24.3
marshmallow==3.26.1
docutils==0.21.2
click==8.1.8
en_core_web_sm==3.8.0
Flask==3.1.0
sb3_contrib==2.7.0
nvidia-cuda-nvrtc-cu12==12.4.127
referencing==0.36.2
msgpack==1.1.0
spacy-loggers==1.0.5
isoduration==20.11.0
pybullet==3.2.7
Shimmy==2.0.0
traitlets==5.14.3
absl-py==2.1.0
smmap==5.0.2
parse==1.20.2
build==1.2.2.post1
archspec==0.2.3
widgetsnbextension==4.0.13
typing_utils==0.1.0
joblib==1.4.2
seaborn==0.13.2
langchain==0.3.27
jupyterlab_widgets==3.0.13
llvmlite==0.44.0
simplejson==3.20.1
moviepy==1.0.3
gradio==5.25.2
jmp==0.0.4
marisa-trie==1.2.1
lazy_loader==0.4
tinycss2==1.4.0
importlib_resources==6.5.2
zstandard==0.23.0
frozenlist==1.5.0
colorama==0.4.6
pathvalidate==3.3.1
nbconvert==7.16.5
Markdown==3.7
ipython==9.0.2
uvicorn==0.34.0
preshed==3.0.9
pytablewriter==1.2.1
babel==2.17.0
backoff==2.2.1
pydantic==2.10.6
behave==1.2.6
graphql-core==3.2.6
numpy==1.26.4
transforms3d==0.4.2
storchastic==0.3.7
narwhals==1.31.0
graphql-relay==3.2.0
cachetools==5.5.2
resolvelib==1.0.1
tensorboardX==2.6.2.2
opencv-contrib-python==4.12.0.88
Pygments==2.19.1
mujoco==3.3.3
jupyter_core==5.7.2
gradio_client==1.8.0
nvidia-cufft-cu12==11.2.1.3
wheel==0.45.1
zipp==3.19.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
typeguard==4.3.0
jaraco.context==5.3.0
typing_extensions==4.12.2
tomli==2.0.1
jaraco.functools==4.0.1
platformdirs==4.2.2
packaging==24.2
jaraco.text==3.12.1
more-itertools==10.3.0
inflect==7.3.1
jaraco.collections==5.1.0
autocommand==2.2.2
